GEMINI_API_KEY=
GMAIL_ADDRESS=
GMAIL_APP_PASSWORD=
GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile
LLM_PROVIDER=groq
# STT (Speech to Text)
DEEPGRAM_API_KEY=

# CALLING
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=

# EMAIL
GMAIL_ADDRESS=
GMAIL_APP_PASSWORD=

# PROJECT
BASE_URL= 
OLLAMA_URL= 
OLLAMA_MODEL=llama3.2